In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/field-of-study-vs-occupation/career_change_prediction_dataset.csv

In [2]:
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [3]:
# Create function to load a new DataFrame
def load_new_dataframe(filename):
    try: 
        df = pd.read_csv(filename)
    except: 
        print("Unable to load {filename}! Please check file location and try again!")
    
    return df
    
df = load_new_dataframe("/kaggle/input/field-of-study-vs-occupation/career_change_prediction_dataset.csv")

# 
df.head()

,Field of Study,Current Occupation,Age,Gender,Years of Experience,Education Level,Industry Growth Rate,Job Satisfaction,Work-Life Balance,Job Opportunities,...,Skills Gap,Family Influence,Mentorship Available,Certifications,Freelancing Experience,Geographic Mobility,Professional Networks,Career Change Events,Technology Adoption,Likely to Change Occupation
0,Medicine,Business Analyst,48,Male,7,High School,High,7,10,83,...,8,High,0,0,0,1,2,0,1,0
1,Education,Economist,44,Male,26,Master's,Low,10,3,55,...,3,Medium,0,0,1,1,2,1,9,0
2,Education,Biologist,21,Female,27,Master's,Low,8,3,78,...,4,Low,0,0,0,0,2,1,2,0
3,Education,Business Analyst,33,Male,14,PhD,Medium,7,9,62,...,2,Medium,1,0,0,0,9,0,1,0
4,Arts,Doctor,28,Female,0,PhD,Low,3,1,8,...,5,Low,0,0,1,0,2,0,7,1

## Data Preparation

In [4]:
df.shape

(38444, 23)

In [5]:
# Count the number of null values
df.isnull().sum()

Field of Study                    0
Current Occupation                0
Age                               0
Gender                            0
Years of Experience               0
Education Level                   0
Industry Growth Rate              0
Job Satisfaction                  0
Work-Life Balance                 0
Job Opportunities                 0
Salary                            0
Job Security                      0
Career Change Interest            0
Skills Gap                        0
Family Influence               9632
Mentorship Available              0
Certifications                    0
Freelancing Experience            0
Geographic Mobility               0
Professional Networks             0
Career Change Events              0
Technology Adoption               0
Likely to Change Occupation       0
dtype: int64

In [6]:
# Impute missing categorical values
df['Family Influence'].fillna('Unknown', inplace=True)

In [7]:
# Identify categorical columns and convert them to 'category' dtype
categorical_columns = df.select_dtypes(include='object').columns

# Assign categorical data to DataFrames
df[categorical_columns] = df[categorical_columns].astype('category')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38444 entries, 0 to 38443
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Field of Study               38444 non-null  category
 1   Current Occupation           38444 non-null  category
 2   Age                          38444 non-null  int64
 3   Gender                       38444 non-null  category
 4   Years of Experience          38444 non-null  int64
 5   Education Level              38444 non-null  category
 6   Industry Growth Rate         38444 non-null  category
 7   Job Satisfaction             38444 non-null  int64
 8   Work-Life Balance            38444 non-null  int64
 9   Job Opportunities            38444 non-null  int64
 10  Salary                       38444 non-null  int64
 11  Job Security                 38444 non-null  int64
 12  Career Change Interest       38444 non-null  int64
 13  Skills Gap                   38444 non-null  int64
 14  Family Influence             38444 non-null  category
 15  Mentorship Available         38444 non-null  int64
 16  Certifications               38444 non-null  int64
 17  Freelancing Experience       38444 non-null  int64
 18  Geographic Mobility          38444 non-null  int64
 19  Professional Networks        38444 non-null  int64
 20  Career Change Events         38444 non-null  int64
 21  Technology Adoption          38444 non-null  int64
 22  Likely to Change Occupation  38444 non-null  int64
dtypes: category(6), int64(17)
memory usage: 5.2 MB

## Exploratory Data Analysis

### Essential Steps for EDA in Pandas

**Inspect the Dataset**:

`df.head()`: View the first few rows to get a glimpse of the data structure.

`df.info()`: Get an overview of column data types, non-null counts, and memory usage.

`df.describe(include='all')`: Summarize numerical and categorical columns, including count, mean, standard deviation, and unique values.

`df.shape`: Check the number of rows and columns.

**Check for Missing Values**:

`df.isnull().sum()`: Count missing values in each column.

`df.isnull().mean()`: Check the proportion of missing values.

**Understand Data Types**:

`df.dtypes`: Confirm data types for each column.

Use `pd.to_datetime()` or `astype()` to convert columns to appropriate types if needed (e.g., dates or categories).

**Explore Value Distributions**:

`df['column'].value_counts()`: Count occurrences of unique values in categorical columns.

`df.hist() or sns.histplot()`: Check distributions for numerical columns.

**Identify and Handle Duplicates**:

`df.duplicated().sum()`: Count duplicate rows.

`df.drop_duplicates()`: Drop duplicates if necessary.

**Check for Outliers**:

- Use visualization tools like box plots (`sns.boxplot()`).
- Use statistical techniques (e.g., IQR or z-scores).

**Analyze Relationships**:

`df.corr()`: Examine correlation between numerical features.

- Visualization tools like scatter plots, heatmaps, or pair plots.

- Check for Data Imbalances (if applicable):

- For target variables, especially in classification tasks, use `value_counts()` to check for class imbalances.